
<ul class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
	   aria-expanded="false">
		Car Company
	</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="BMW">BMW</a></li>
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="MercedesBenz">MercedesBenz</a></li>
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="HYUNDAI">HYUNDAI</a></li>
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="Tesla">Tesla</a></li>
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="Volkswagen">Volkswagen</a></li>
		<li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-filtter="Renault">Renault</a></li>
	</ul>
</ul>