@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Rentals" asp-action="Index">Rentals</a>
    </li>
}